MAALFRID_TOOLKIT_POSTGRES_DB="name-of-database"
MAALFRID_TOOLKIT_POSTGRES_HOST="ip-or-hostname-of-postgres-server"
MAALFRID_TOOLKIT_POSTGRES_PORT=5432
MAALFRID_TOOLKIT_POSTGRES_USER="username"
MAALFRID_TOOLKIT_POSTGRES_PASSWORD="password"
MAALFRID_TOOLKIT_POSTGRES_SSLMODE="e.g. verify-ca"
MAALFRID_TOOLKIT_POSTGRES_SSLROOTCERT="path-to-ca-cert"
MAALFRID_TOOLKIT_POSTGRES_SSLCERT="path-to-client-cert"
MAALFRID_TOOLKIT_POSTGRES_SSLKEY="path-to-client-key"
